body {
  background: white;
}
h1,
pre {
  text-align: center;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-size: 30px;
  margin: 30px;
  text-shadow: 0px, 0px, 0px red;
}
h2 {
  color: #0dd71e;
  font-size: 25px;
}
h1 {
  margin: 60px;
  text-shadow: 0px 30px 5px black;
  color: red;
}
img {
  text-align: center;
  margin-left: 300px;
  width: 1056px;
  height: 446px;
}
